@import "color";
// .img-container:empty {
//   display: none;
// }

// / Tablet (max-width: 900px)


// Phone (max-width: 600px)
@media (max-width: 600px) {

  nav{
    margin:4px;
    margin-left: 1.5rem;
    h1{
      display: none;
    }
    main{
      HashLink{
        font-size: 0.9rem;
      }
     
    }
  }
  .home-container {
    main {
      padding: 1rem;
      filter: blur(1.5px);
    }
  }

  .text-container {
    padding: 1rem;
    h1 {
      font-size: 1rem;
    }
    p {
      font-size: 0.1rem;
    }
  }

 
    .img-container:empty {
      display: none;
    }


  .skills-container {
    height: auto;
    h1 {
      margin: 0 auto;
      font-size: 2rem;
    }
  }

  .skills {
    flex-direction: column;
    align-items: center;
    .full_stack, .cpp, .java, .sql {
      width: 80%;
      height: auto;
      margin: 1rem 0;
    }
  }

  .home3 {
    div {
      width: 100%;
      font-size: 1rem;
      // padding: 1rem;
      h1 {
        font-size: 2rem;
      }
      p {
        text-wrap: wrap;
        font-size: 1rem;
      }
    }
  }

  .contact {
    main {
      width: 90%;
      padding: 1rem;
      form {
        margin: 2rem 0;
        div {
          width: 100%;
          label {
            font-size: 0.9rem;
          }
          input {
            font-size: 1rem;
          }
        }
        button {
          width: 100px;
          font-size: 0.8rem;
        }
      }
    }
  }

  footer {
    grid-template-columns: 1fr;
    padding: 1rem;
    div {
      align-items: center;
      h1 {
        font-size: 1.5rem;
      }
      p {
        font-size: 1rem;
      }
      h5 {
        font-size: 1.2rem;
      }
      div {
        a {
          font-size: 0.8rem;
        }
      }
    }
  }
}

// Tablet (max-width: 900px)
@media (max-width: 900px) {
  nav{

    position: relative;
    // margin:0.4rem;
    text-decoration:none;
    left: 2.4rem;
    font-size: 0.9rem;
    
    // margin-left: 1.5rem;
    h1{
      // display: none;
    }
    // main{
    //   HashLink{
    //     left: 1.5rem;
    //     font-size: 0.6rem;
    //   }
     
    // }
  }


  .home-container {
    main {
      padding: 1.5rem;
      filter: blur(2px);
    }
  }

  .text-container {
    padding: 1.5rem;
    h1 {
      font-size: 3.5rem;
    }
    p {
      font-size: 1.2rem;
    }
  }

  .img-container:empty {
      display: none;
    }
  

  .skills-container {
    height: auto;
    h1 {
      margin: 0 auto;
      font-size: 2.5rem;
    }
  }

  .skills {
    flex-direction: column;
    align-items: center;
    .full_stack, .cpp, .java, .sql {
      width: 80%;
      height: auto;
      margin: 1rem 0;
    }
  }

  .home3 {
    div {
     
      width: 100%;
      padding: 0.1rem;
      h1 {
        position: relative;
        // margin-top: 0.2rem;
        top: 2.5rem;
        font-size: 1.3rem;
      }
      p {
        // flex-wrap: wrap;
        font-size: 0.6rem;
        
      }
    }
  }

  .contact {
    main {
      width: 80%;
      padding: 2rem;
      form {
        margin: 3rem 0;
        div {
          width: 100%;
          label {
            font-size: 0.9rem;
          }
          input {
            font-size: 1.1rem;
          }
        }
        button {
          width: 150px;
          font-size: 0.9rem;
        }
      }
    }
  }

  footer {
    grid-template-columns: 1fr;
    padding: 1.5rem;
    div {
      align-items: center;
      h1 {
        font-size: 1.8rem;
      }
      p {
        font-size: 1.1rem;
      }
      h5 {
        font-size: 1.4rem;
      }
      div {
        a {
          font-size: 0.9rem;
        }
      }
    }
  }
}

